.box {
    background-color: rgb(6, 59, 124);
    padding: 20px;
    text-align: center;
}
.boxbook {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}
.Title {
    color: rgb(81, 81, 80);
    
}

.boxbody {
    background-color: rgb(6, 59, 124);
    width: 50%;
    height: 700px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    padding-top: 50px;
}
.boxbody1{
    background-color: rgb(6, 59, 124);
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.boxsubmit{
    background-color: rgb(6, 59, 124);
    width: 50%;
    height: 200px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    text-align: center;
    padding-top: 50px;
}
.whitebox{
    background-color: rgb(244, 244, 244);
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 10px;
    text-align:left;
    padding-top: 5px;
    padding-left: 10px;
}
.whitebox2{
    background-color: rgb(244, 244, 244);
    width: 80%;
    height: 100px;
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 10px;
    text-align:left;
    padding-top: 5px;
    padding-left: 10px;
}