*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 120%;
    background-color: aliceblue;
}

.header{
    width: 30%;
    margin: 50px auto 0px;
    color: rgb(219, 219, 219);
    background: #74b8f8;
    text-align: center;
    border: 1px solid #ffacac;
    border-bottom: none;
    border-radius: 10px 10px 10px 10px;
    padding: 20%;
}

form, .content{
    width: 80%;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #88a7c5;
    background: white;
    border-radius: 10px 10px 10px 10px;
}

.input-group{
    margin: 10px 0px 10px 0px;
}

.input-group label{
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input{
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(171, 171, 171);
}

.btn{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(115, 204, 225);
    border: none;
    border-radius: 5px;
}

.btn2{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(232, 109, 109);
    border: none;
    border-radius: 5px;
}

.box {
    background-color: rgb(123, 178, 246);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
.boxbook {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;

}
.body1 {
    background-color: rgb(205, 242, 252);
    padding: 20px;
    text-align: center;
    margin:0px 20% ;
}

.whitebox{
    background-color: rgb(244, 244, 244);
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 10px;
    text-align:left;
    padding-top: 5px;
    padding-left: 10px;
}

.boxbody1{
    background-color: rgb(177, 209, 247);
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}